---

---
<footer class="py-8 pb-16">
    <div class="container mx-auto border-t border-opacity-30 border-t-white mt-8 p-2 pt-4">
        <p>تم الجمع والتطوير بكل 💖 وتقدير بواسطة <a class="underline underline-offset-4 font-bold" target="_blank" href="https://github.com/orgs/SaudiOpenSourceCommunity/people">هؤلاء المتطوعين</a></p>
    </div>
</footer>