---
const { title } = Astro.props;
---
<header class="">
    <div class="container mx-auto p-2">
        <h1 class="text-2xl font-bold space-y-1">
            <a href={Astro.url}>{title}</a>

            <small class="text-sm text-green-600 dark:text-slate-200 font-normal block">مجموعة من الأشخاص المهتمين بالمصادر المفتوحة في المملكة العربية السعودية</small>
            <small class="text-sm text-green-600 dark:text-slate-200 font-light underline block"><a href="https://github.com/SaudiOpenSourceCommunity">https://github.com/SaudiOpenSourceCommunity</a></small>
        </h1>
    </div>
</header>