---
import Developer from '../../components/Developer.astro'
import devs from '../../../devs.json'
---
<section id="developers" class="">
    <div class="container mx-auto p-2">
        <h2 class="text-2xl font-bold mb-4">المبرمجون</h2>
        <div class="grid lg:grid-cols-4 gap-2">
            {devs.map(dev => (
                <Developer dev={dev} />
            ))}
        </div>
    </div>
</section>